.footer {
  background-color: $black;

  .wrapp-footer-menu {
    ul {
      list-style: none;
      padding: 0;
      a {
        color: white;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 0em;
        font-style: normal;
        font-size: 11px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        transition: 0.3s;
      }
    }
  }
 
  .footer-box {
    padding-bottom: 40px;
      p{
        color: $white;
        font-family: Roboto;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 1px;
        color: #fff;
       } 
       a{
 
         display: block;
         margin: 25px 0 30px;
         opacity: 0.7;
         font-family: Roboto;
         font-size: 14px;
         font-weight: normal;
         font-stretch: normal;
         font-style: normal;
         line-height: normal;
         letter-spacing: normal;
         color: #fff;
       }
       img{
         display: block;
       }
   }
.footer-second-box{
p{
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
  opacity: 0.5;
}
}
  .social-media-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    a {
      padding: 0;
      background: rgba(255, 255, 255, 0.85);
      transition: 0.5s;
      border-radius: 100%;
      width: 22px;
      height: 22px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        margin-left: 2px;
        margin-bottom: 2px;
        text-align: center;
        color: $black;
      }
    }
    &:hover {
      a {
        background-color: #fff;
      }
    }
  }
}

#wrapper-footer{
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}
.social-box {
  max-width: 200px;
}
.footer-second-box{
  padding-top: 60px;
}
@media (max-width:768px){
  .footer-box {
    p{
      margin-top: 40px;
    }
  }
  .footer-second-box{
    padding-top: 0px;
    img{
      display: block;
      margin: 0 auto;
      padding-bottom: 30px;
    }
  }
  #wrapper-footer{
    padding-top: 60px;
    padding-top: 60px;
  }
  .social-box{
    a{
      margin: 7px 0px !important;
    }
  }
}