.home-main-wrap{
    background-image: url("../imgs/group-4.svg");
    padding-top: 150px;
    padding-bottom: 150px;
    background-size: cover;
    width: 100%;
    .box-home-wrap{
      .orangebutton{
        padding: 22px 40px 20px;
        background-color: #ff7943; 
        a{
            font-size: 12px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 1px;
            color: #fff;
        }
      }
      .normalbutton{
        padding: 22px 30px 20px;
        object-fit: contain;
        -webkit-backdrop-filter: blur(9.7px);
        backdrop-filter: blur(9.7px);
        border: solid 1px rgba(255, 255, 255, 0.15);
        background-color: rgba(255, 255, 255, 0.05);
        a{
            font-size: 12px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 1px;
            color: #fff;
        }
      }
      img{
          float: right;
      }
    }
}




.second-home-wrap{
    width: 100%;
    padding: 100px 0px;
        .upper-logos{
        p{
            font-family: Roboto;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.71;
            letter-spacing: 2px;
            text-align: center;
            color: #b9bcc6;
          }
        }
        .partners{
            max-width: 700px;
            margin: 0 auto;
            padding-bottom: 150px;
            padding-top: 40px;
            img{
                display: block;
                margin: 0 auto;
            }
        }
        .threecolumn{
            padding-top: 80px;
            img{
                display: block;
                margin: 0 auto;
            }
            .name-icon{
                font-family: NeurialGrotesk;
                font-size: 20px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #313e50;
            }
            .text-icon{
                font-family: Roboto;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.88;
                letter-spacing: normal;
                text-align: center;
                color: #888b9f;
            }
        }
        .grey{
            font-family: Roboto;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.88;
            letter-spacing: normal;
            text-align: center;
            color: #888b9f;
          }
    
    }


    .three-home-wrap{
        width: 100%;
        margin-top: 60px;
        margin-bottom: 60px;
        h1{
            color: #313e50;
            
        }
        p{
            color: #888b9f;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        a{
            object-fit: contain;
            background-color: #fff0e9;
            font-size: 12px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 1px;
            text-align: center;
            color: #ff7943;
            padding: 22px 51.5px 20px;
            
        }

    }




    .fourth-home-wrap{
        width: 100%;
        margin-top: 60px;
        margin-bottom: 60px;
        h1{
            color: #313e50;

            max-width: 420px;
        }
        p{
            color: #888b9f;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        a{
            object-fit: contain;
            background-color: #fff0e9;
            font-size: 12px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 1px;
            text-align: center;
            color: #ff7943;
            padding: 22px 51.5px 20px;
            
        }
    }


    .fifth-home-wrap{
        width: 100%;
        margin-top: 60px;
        margin-bottom: 60px;
        h1{
            color: #313e50;
            max-width: 420px;
        }
        p{
            color: #888b9f;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        a{
            object-fit: contain;
            background-color: #fff0e9;
            font-size: 12px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 1px;
            text-align: center;
            color: #ff7943;
            padding: 22px 51.5px 20px;
     
        }
    }

    .collabaoration{
        width: 100%;
        
            h1{
                font-family: Poppins;
                font-size: 36px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.58;
                letter-spacing: normal;
                text-align: center;
                color: #313e50;
              
                max-width: 600px;
                margin: 0 auto;
                margin-top: 100px;
            }
            p{
                font-family: Roboto;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.88;
                letter-spacing: normal;
                text-align: center;
                color: #888b9f;
            }
            .partners-logo{
                padding-top: 100px;
                margin-bottom: 80px;
                .box-partners{
                    padding: 30px;
                    border-radius: 10px;
                    box-shadow: 0 10px 80px 0 rgba(60, 77, 139, 0.08);
                    border: solid 1px #e7e9f2;
                    background-color: #fff;
                    margin: 10px;
                    p{
                        opacity: 0.45;
                        font-family: Roboto;
                        font-size: 12px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.5;
                        letter-spacing: 1px;
                        text-align: center;
                        color: #27292b;
              
                    }
                    img{
                        display: block;
                        margin: 0 auto;
                        object-fit: cover;
                        max-height: 130px;
                    }
                }
            }
          
    }
 